.container
  h4 Manage student accounts
  br
  .row
      .col-sm-6.col-md-12
        input.form-control(type="text", ng-model="searchText", placeholder="Search")
        br
  div(ng-repeat = "(key, value) in vm.students_class")

        h4 Class: {{key}} &nbsp;
          a.download(ng-click='vm.download(key)')
            span.glyphicon.glyphicon-download-alt 

        table.table 
          thead
            tr
              th.cen ID
              th.cen  Name
              th.cen  Year
              th.cen  Gender
              th.cen  Delete
          tbody
            tr(ng-repeat="student in value | filter: searchText")
                th.cen  {{ student.sid }}
                th.cen  {{ student.name }} 
                th.cen  {{ student.year }}
                th.cen  {{ student.gender }}
                th.cen 
                  a.trash(ng-click='vm.delete(student)')
                    span.glyphicon.glyphicon-trash.pull
        br







  //- .row
  //-   .col-sm-12.col-md-3
  //-     input.form-control(type="text", ng-model="searchText", placeholder="Search")
  






  //- table.table
  //-     thead
  //-         tr
  //-             th ID
  //-             th Name
  //-             th Year
  //-             th Gender
  //-             th Class         
  //-             th Delete
  //-     tbody
  //-         tr(ng-repeat="student in vm.students| orderBy : 'classname' | filter: searchText")
  //-             th {{ student.sid }}
  //-             th {{ student.name }} 
  //-             th {{ student.year }}
  //-             th {{ student.gender }}&nbsp;
  //-             th {{ student.classname }} 
  //-               a.download(ng-click='vm.download(student)')
  //-                 span.glyphicon.glyphicon-download-alt 
  //-             th
  //-               a.trash(ng-click='vm.delete(student)')
  //-                 span.glyphicon.glyphicon-trash.pull



