.container
  p
    | Manage teacher accounts
  ul.list-group
    li.list-group-item(ng-repeat='user in admin.users')
      strong {{user.name}}
      br
      span.text-muted {{user.email}}
      a.trash(ng-click='admin.delete(user)')
        span.glyphicon.glyphicon-trash.pull-right
