.container
  .row
    .col-sm-12
      h1 Forget password
    .col-sm-12.col-md-6
      form.form(name='form', ng-submit='vm.forget(form)', novalidate='')
        .form-group(ng-class='{ "has-success": form.email.$valid && vm.submitted,\
          "has-error": form.email.$invalid && vm.submitted }')
            label Your email address
            input.form-control(type='email', name='email', ng-model='vm.user.email', required='', mongoose-error='')
            p.help-block(ng-show='form.email.$error.email && vm.submitted')
              | Doesn't look like a valid email.
            p.help-block(ng-show='form.email.$error.required && vm.submitted')
              | An email address is required
            //p.help-block(ng-show='form.email.$error.mongoose')
              | {{ vm.errors.email }}            
        div
            button.btn.btn-inverse.btn-lg.btn-register(type='submit', ng-click='vm.confirm(form)')
              | Submit
        
          
  
  hr
