div.navbar.navbar-default.navbar-static-top
  div.container
    div.navbar-header
      button.navbar-toggle(type='button', ng-click='$ctrl.isCollapsed = !$ctrl.isCollapsed')
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand(href='/') Fraction Machine

    div#navbar-main.navbar-collapse.collapse(uib-collapse='$ctrl.isCollapsed')
      ul.nav.navbar-nav
        //- li(ng-repeat='item in $ctrl.menu', ui-sref-active='active')
        //-   a(ui-sref='{{item.state}}') {{item.title}}

        li(ng-show='$ctrl.isAdmin()', ui-sref-active='active')
          a(ui-sref='admin') Admin

        li(ng-show='$ctrl.isAdmin()', ui-sref-active='active')
          a(ui-sref='registerteacher') Register Teachers

        li(ng-show='$ctrl.isAdmin()', ui-sref-active='active')
          a(ui-sref='alllogs') All logs

        //li(ng-show='$ctrl.isAdmin() || $ctrl.isTeacher()', ui-sref-active='active')
          a(ui-sref='downloadlog') Download Logs

        li(ng-show='$ctrl.isTeacher()', ui-sref-active='active')
          a(ui-sref='registerstudent') Register Student

        li(ng-show='$ctrl.isTeacher()', ui-sref-active='active')
          a(ui-sref='managestudent') Manage Student




      ul.nav.navbar-nav.navbar-right

        li(ng-hide='$ctrl.isLoggedIn()', ui-sref-active='active')
          a(ui-sref='login') Login

        li(ng-show='$ctrl.isLoggedIn()')
          p.navbar-text Hello {{ $ctrl.getCurrentUser().name }} 

        li(ng-show='$ctrl.isLoggedIn()', ui-sref-active='active')
          a(ui-sref='settings')
            span.glyphicon.glyphicon-cog

        li(ng-show='$ctrl.isLoggedIn()')
          a(ui-sref='logout') Logout
