.container
  .row
    .col-sm-12
      h1 Change Password
    .col-sm-12.col-md-3
      form.form(name='form', ng-submit='vm.resetPassword(form)', novalidate='')
        .form-group
          label New Password
          input.form-control(type='password'
            name='newPassword'
            ng-model='vm.user.newPassword'
            ng-minlength='3', required='')
          p.help-block(ng-show='(form.newPassword.$error.minlength || form.newPassword.$error.required) && (form.newPassword.$dirty || vm.submitted)')
            | Password must be at least 3 characters.
        .form-group
          label Confirm New Password
          input.form-control(type='password'
            name='confirmPassword'
            ng-model='vm.user.confirmPassword'
            match="vm.user.newPassword"
            ng-minlength='3', required='')
          p.help-block(ng-show='fvm.orm.confirmPassword.$error.match && vm.submitted')
            | Passwords must match.

        p.help-block  {{ vm.message }}

        button.btn.btn-lg.btn-primary(type='submit') Save changes


  hr