.container
  .row
    .col-sm-12
      h1 Register student
    .col-sm-12
      form.form(name='form', ng-submit='vm.register(form)', novalidate='')
        .row
          .col-sm-12.col-md-3
            .form-group(ng-class='{ "has-success": form.name.$valid && vm.submitted,\
            "has-error": form.name.$invalid && vm.submitted }')
              label Student Name
              input.form-control(type='text', name='name', ng-model='vm.student.name', required='', placeholder='(e.g. John Smith)')
              p.help-block(ng-show='form.name.$error.required && vm.submitted')
                | A name is required
          
            //.form-group(ng-class='{ "has-success": form.school.$valid && vm.submitted,\
            //"has-error": form.school.$invalid && vm.submitted }')
              label School 
              input.form-control(type='text', name='school', ng-model='vm.student.school', required='', placeholder=(e.g. Haileybury College))
              p.help-block(ng-show='form.school.$error.required && vm.submitted')
                | A school name is required

            .form-group(ng-class='{ "has-success": form.sid.$valid && vm.submitted && vm.norepeat,\
            "has-error":  vm.submitted  && (form.sid.$invalid || !vm.norepeat)}')
              label Student ID
              input.form-control(type='text', name='sid', ng-model='vm.student.sid', required='', placeholder='(For the purpose of log in)')
              p.help-block(ng-show='form.sid.$error.required && vm.submitted')
                | An ID is required
              p.help-block(ng-show='!vm.norepeat')
                | Could not have same id in one class 

            .form-group(ng-class='{ "has-success": form.classname.$valid && vm.submitted,\
            "has-error": form.classname.$invalid && vm.submitted }')
              label Class
              input.form-control(type='text', name='classname', ng-model='vm.student.classname', required='', placeholder='(e.g. Class 1)')
              p.help-block(ng-show='form.classname.$error.required && vm.submitted')
                | A class name is required
        
        .row
          .col-sm-12.col-md-1
            .form-group(ng-class='{ "has-success": form.year.$valid && vm.submitted,\
            "has-error": form.year.$invalid && vm.submitted }')
              label Year(Grade)
              input.form-control(type='number', min='0', max='12', name='year', ng-model='vm.student.year', required='')
              p.help-block(ng-show='form.year.$error.required && vm.submitted')
                | A year is required
        .row
          .col-sm-12.col-md-9
            .form-group(ng-class='{ "has-success": form.gender.$valid && vm.submitted,\
            "has-error": form.gender.$invalid && vm.submitted }')
              label Gender     
              p
                input(type='radio', name='gender', value='male', ng-model='vm.student.gender', required='') 

                | &nbsp male  &nbsp &nbsp
                
                input(type='radio', name='gender', value='female', ng-model='vm.student.gender', required='') 
                | &nbsp female
                p.help-block(ng-show='form.gender.$error.required && vm.submitted')
                  | The gender is required



            //.btn-group(uib-dropdown, dropdown-append-to-body)
              .button.btn.btn-default(uib-dropdown-toggle, id="btn-append-to-to-body", type="button")  
                | Class    
                span.caret
              ul.dropdown-menu(uib-dropdown-menu,role="menu",aria-labelledby="btn-append-to-to-body")
                li <a href="#">class 1</a>
                li <a href="#">class 2</a>
                li <a href="#">class 3</a>
                li <a href="#">unclassified</a>
            //.btn-group(uib-dropdown, dropdown-append-to-body)
              .button.btn.btn-default(uib-dropdown-toggle, id="btn-append-to-to-body", type="button")
                | School
                span.caret
              ul.dropdown-menu(uib-dropdown-menu,role="menu",aria-labelledby="btn-append-to-to-body")
                li <a href="#">class 1</a>
                li <a href="#">class 2</a>
                li <a href="#">class 3</a>
                li <a href="#">unclassified</a> 
        
        ul.list-group
          li.list-group-item(ng-repeat='student in vm.students')
            strong {{student.name}}
        div
          button.btn.btn-inverse.btn-lg.btn-register(type='submit')
            | Sign up
        
          
  
  hr
