.container
  p
    | Download logs
  .row
    .col-sm-12.col-md-3
      input.form-control(type="text", ng-model="searchText", placeholder="Search")

  table.table
      thead
          tr
              th.cen Year
              th.cen ID
              th.cen Class 
              th.cen School
              th.cen Download      
      tbody
          tr(ng-repeat='student in vm.students| orderBy: "year"| filter: searchText',class = "midd")
              th.cen {{ student.year }}
              th.cen {{ student.sid }}
              th.cen {{ student.classname }}
              th.cen {{ student.school }}
              th.cen
                a.download(ng-click='vm.download(student)')
                  span.glyphicon.glyphicon-download-alt 

